<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Кино</title>
	<!--MY css and js-->
	<link rel="icon" href="/ico/favico.png"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/custom.js"></script>

</head>
<body>
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="/home" class="navbar-brand">Кино</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#home" class="smoothScroll">Бастапқы бет</a></li>
                <li><a href="#about" class="smoothScroll">Мен туралы</a></li>
                <li><a href="#blog" class="smoothScroll">Кинолар</a></li>
                <li><a href="#work" class="smoothScroll">Режиссерлар</a></li>
                <li><a href="#contact" class="smoothScroll">Контакттар</a></li>
            </ul>

            <ul th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}" class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li th:case="${false}" class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Тіркелу \ Кіру</a></li>
                <li th:case="${true}" ><span style="size:10px" sec:authentication="name"/>
                    <form class="navbar-right" th:action="@{/logout}" method="get">
                    <button class="btn btn-md btn-danger" name="registration" type="Submit">Шығу</button>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</section>
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>Кинолар туралы сайт</h1>
                    <a href="#about" class="btn section-btn smoothScroll">Start a project</a>
                    <span>
                                   Мына телефон 8707455210
                                   <small></small>
                              </span>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/UsnDPok1ZOU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Парман Жансая</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>Мен Парман Жансая сайтты жасаған</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="about-info skill-thumb">

                    <strong>Java</strong>
                    <span class="pull-right">85%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                    </div>

                    <strong>Python</strong>
                    <span class="pull-right">90%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                    </div>

                    <strong>Маркетинг</strong>
                    <span class="pull-right">75%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                    </div>

                    <strong>Админ</strong>
                    <span class="pull-right">70%</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="about-image">
                    <img src="images/about-image.jpg" class="img-responsive" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <h1>Кинолар</h1>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Фильмнің аты</th>
                        <th>Жанры</th>
                        <th>Режиссер</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="film : ${films}">
                        <td th:text="${film.filmId}"></td>
                        <td th:text="${film.fullName}"></td>
                        <td th:text="${film.genre}"></td>
                        <td th:text="${film.producer.firstName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-7 col-sm-6">
                <h1>Режиссерлар</h1>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Режиссердің аты</th>
                        <th>Тегі</th>
                        <th>Туған жері</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod : ${producers}">
                        <td th:text="${prod.prodId}"></td>
                        <td th:text="${prod.firstName}"></td>
                        <td th:text="${prod.lastName}"></td>
                        <td th:text="${prod.countryOfBirth}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Бізге хабарласу</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-8 col-sm-8">

                <!-- CONTACT FORM HERE -->
                <form id="contact-form" role="form" action="#" method="post">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Full Name" id="cf-name" name="cf-name" required="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Your Email" id="cf-email" name="cf-email" required="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <input type="tel" class="form-control" placeholder="Your Phone" id="cf-number" name="cf-number" required="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <select class="form-control" id="cf-budgets" name="cf-budgets">
                            <option>Жанр</option>
                            <option>Қорқынышты</option>
                            <option>Комедия</option>
                            <option>Сериал</option>
                            <option>Фантастика</option>
                        </select>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="6" placeholder="Your requirements" id="cf-message" name="cf-message" required=""></textarea>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <input type="submit" class="form-control" name="submit" value="Send Message">
                    </div>

                </form>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>Кинотеатр</h2>
                    <p>Кинолар туралы сайт</p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Кинотеатр</h2>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-thumb">
                    <h2>Іздейтін жер</h2>
                    <p>Алматы <br> Парман Жансая</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018 KazNITU</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>8707745224</span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a sec:authorize="hasAnyAuthority('ADMIN')" href="/films" class="fas fa-film" attr="facebook icon"></a></li>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-popup">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                            <div class="modal-title">
                                <h2>Кинотеатр</h2>
                            </div>

                            <!-- NAV TABS -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Тіркелу</a></li>
                                <li><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Кіру</a></li>
                            </ul>

                            <!-- TAB PANES -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                    <form autocomplete="off" action="#" th:action="@{/registration}"
                                          th:object="${user}" method="post">
                                        <input type="text" class="form-control" th:field="*{login}" name="login" placeholder="login" required>
                                        <input type="email" class="form-control" name="email" th:field="*{email}" placeholder="Email" required>
                                        <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Тіркелу">
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                    <form th:action="@{/login}" method="POST">
                                        <input type="text" id="login" class="form-control" name="login" placeholder="Login" required>
                                        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
                                        <input type="submit" class="form-control" name="submit" value="Кіру">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>